<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Promilo Automation Suite">

    <listeners>
        <listener class-name="com.automation.listeners.ExtentTestListener"/>
    </listeners>

    <test name="All Tests">
        <packages>
            <package name="com.automation.tests"/>
        </packages>
    </test>

</suite>
